.footer {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
  }
  
  .mapContainer iframe {
    max-width: 100%;
    width: 90%;
    height: 400px;
    border: none;
  }
  
  .typingTitle2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px; /* Tamaño de la fuente */
    color: #030303; /* Color de texto blanco */
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0.5em;
    display: inline-block;
    margin-bottom: 1em;
   
  }