
  
.header {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: #172933;
    padding: 0 5px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.logo {
    width: 20vw; /* Ajusta según el tamaño del log */
    height: auto;
    padding: 3px;
    border-radius: 15px;
    /* color: white; */
    /* border: solid 1px red; */
}

/* Para hacer el logo más grande en pantallas pequeñas */
@media (max-width: 1200px) {
    .logo {
        width: 25vw;
    }
}

@media (max-width: 1000px) {
    .logo {
        width: 30vw;
    }
}

@media (max-width: 700px) {
    .logo {
        width: 40vw;
    }
}

@media (max-width: 600px) {
    .logo {
        width: 50vw;
    }
}
