*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: grey; */
  }

  /* narbar */
  .navBar{
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-between;
    background-color: black;
  }
  .logoTransparente {
    width: 12vw;
    background-color: grey;
    filter: invert(5%) sepia(83%) saturate(6%) hue-rotate(135deg) brightness(96%) contrast(200%);
  }
  


  /* homepage */
  .contenedorPadreHomePage{
    display: grid;
    place-items: center;
}

.imgPcNegra{
    display: flex;
    margin: auto;
    width: 90vw;
    height: 70vh;
}
.ordenarArticle{
    display: flex;
  flex-wrap: nowrap;
}
.divArticle{
    border: 1px solid rgba(128, 128, 128, 0.664);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1.5em;
    height: auto;
    width: 25vw;
}

/* footer */